# Datasets
/data
!/data/**/*.zip
!/data/**/*.tar.gz

# Marabou
/Marabou
/evaluateWithMarabou.log

# Python cache & checkpoints
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Environments
/.env
/.venv
/env
venv
/ENV
/env.bak
/venv.bak
/.python-version

# mkdocs documentation
/site

# sandbox files (for playing around)
sandbox*.ipynb
sandbox*.py

# IDEs
.vscode
.atom
.idea
