# Datasets
/data/**/*.p
!/data/**/*.zip
!/data/**/*.tar.gz

# Marabou
/Marabou
/evaluateWithMarabou.log

# Python cache & checkpoints
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Environments
/.env
/.venv
/env
venv
/ENV
/env.bak
/venv.bak
/.python-version

# documentation
#/docs/build

# sandbox files (for playing around)
/sandbox

# IDEs
.vscode
.atom
.idea

# Other
.DS_Store
